<div class="container" ng-controller="itemManagerController">
    <app-loader is-loaded="isLoaded"></app-loader>
    <div class="row">
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Items">
                        <md-content class="md-padding col-lg-12">
                            <div class="col-lg-12">
                                <h5 class="md-display-1 pull-left">List of available items</h5>
                                <a ui-sref="itemCreate">
                                    <md-button class="md-raised pull-right">
                                        Create an item
                                    </md-button>
                                </a>
                            </div>
                            <div layout-gt-sm="row" class="col-lg-6">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Search</label>
                                    <input>
                                </md-input-container>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <a class="pointer">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </a>
                                </md-input-container>
                            </div>

                            <h3 class="col-lg-12 animate-if" ng-if="availableItems.length == 0">No results found</h3>

                            <md-list class="md-dense col-lg-12" flex>
                                <md-list-item class="md-3-line">
                                    <div class="md-list-item-text col-lg-12 row" layout="column" style="flex-direction: row;">
                                        <h2 class="md-title col-lg-3">Name </h2>
                                        <h2 class="md-title col-lg-3">plu</h2>
                                        <h2 class="md-title col-lg-3">category</h2>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>

                            <md-list class="col-lg-12" flex>
                                <md-list-item class="md-3-line" ng-repeat="item in availableItems" style="" ng-click="null">
                                    <div class="md-list-item-text col-lg-12 row" layout="column" style="flex-direction: row;">
                                        <h3 class="col-lg-3">{{ item.name }}</h3>
                                        <h4 class="col-lg-3">{{ item.plu }}</h4>
                                        <p class="col-lg-3">{{ item.category }}</p>
                                        <span class="col-lg-1">Edit</span>
                                        <span class="col-lg-1">Delete</span>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                            <div>
                                <ul uib-pagination total-items="existingAds.totalElements" items-per-page="existingAds.size" ng-model="queryParams.pagenum"
                                    max-size="maxSize" class="pagination-sm pull-right" boundary-link-numbers="true" rotate="false"
                                    ng-change="getExistingAds()"></ul>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Item Groups">
                        <md-content class="md-padding">
                            <h3 class="md-display-1">List of Sheduled Ads</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus
                                volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium
                                ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
                                Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim,
                                vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur
                                a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis
                                tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed
                                felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis
                                tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur
                                faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec
                                luctus mauris semper.</p>
                            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec
                                magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis.
                                Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras
                                ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor
                                turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl
                                consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere
                                molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit
                                erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac
                                est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
            <div class="modal fade adDetailClass" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    {{currentSelectedAd.name}}

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>