body *
{
  /* background: #e4e4e4; */
   color: #545454;
   font-family: WorkSans !important;
   
   /* background-repeat: no-repeat; */
}

.background_div{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  opacity: 0.07;
  transform: scale(1);
  transform-origin: top left;
  filter: blur(1px);
  background: url(../assets/imgs/CLASSIFIED-SAMPLE-2017.jpg);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-filter: blur(1px);
  height: 100%;
  width: 100%;
  z-index: 0;
  position: fixed;
}

.background_overlay{
  background: rgba(0, 0, 0, 0.24);
  position: absolute;
  height: 100%;
  width: 100%;
}

.glyphicon{
  font-family: Glyphicons Halflings !important;
}

.pointer{
    cursor: pointer;
}

md-content{
    box-shadow: 0px 0px 20px 0px #bababa;
}

.md-button.md-primary{
    background-color: #3172b8 !important;
}
  
  .animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }
  
  .animate-if.ng-enter,
  .animate-if.ng-leave.ng-leave-active {
    opacity:0;
  }
  
  .animate-if.ng-leave,
  .animate-if.ng-enter.ng-enter-active {
    opacity:1;
  }

  .scrollup {
    background: rgba(0, 0, 0, 0) url("http://www.bba-reman.com/images/icon_top.png") no-repeat scroll 0 0;
    bottom: 50px;
    height: 65px;
    position: fixed;
    right: 15px;
    text-indent: -9999px;
    width: 65px;
    display:none;
}
.font-white{
  color: #fff;
}

.md-select-menu-container {
  z-index: 1500;
}

.globalPadding { 
  padding: 20px;
}

.hoverHighlight, .hoverHighlightLow{
  transition: all .2s ease-in-out; 
}

.hoverHighlightLow:hover {
  transform: scale(1.010);
  -webkit-transform: scale(1.010);
  -moz-transform: scale(1.010);
  -ms-transform: scale(1.010);
  -o-transform: scale(1.010);
}

.hoverHighlight:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.md-title{
  font-weight: 700;
}

*:focus {
  outline: 0;
  outline: none;
}