<link rel="stylesheet" href="app/components/header/css/header.css">

<!-- <div class="header_container" style="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <h1 class="pull-left">Justrid</h1>
                    <h1 class="pull-right">
                            <md-button class="md-raised md-primary" md-no-ink>Post Ad</md-button>

                    </h1>
            </div>
           
        </div>
    </div>
</div> -->

<!-- Pushy Menu -->
<div ng-controller="headerController">
    <nav class="pushy pushy-left" data-focus="#first-link">
        <div class="pushy-content">
            <ul>
                <li class="pushy-submenu">
                    <button id="first-link">Submenu 1</button>
                    <ul>
                        <li class="pushy-link">
                            <a href="#">Item 1</a>
                        </li>
                        <li class="pushy-link">
                            <a href="#">Item 2</a>
                        </li>
                        <li class="pushy-link">
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
                <li class="pushy-submenu">
                    <button>Submenu 2</button>
                    <ul>
                        <li class="pushy-link">
                            <a href="#">Item 1</a>
                        </li>
                        <li class="pushy-link">
                            <a href="#">Item 2</a>
                        </li>
                        <li class="pushy-link">
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
                <li class="pushy-submenu">
                    <button>Submenu 3</button>
                    <ul>
                        <li class="pushy-link">
                            <a href="#">Item 1</a>
                        </li>
                        <li class="pushy-link">
                            <a href="#">Item 2</a>
                        </li>
                        <li class="pushy-link">
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
                <li class="pushy-submenu">
                    <button>Submenu 4</button>
                    <ul>
                        <li class="pushy-link">
                            <a href="#">Item 1</a>
                        </li>
                        <li class="pushy-link">
                            <a href="#">Item 2</a>
                        </li>
                        <li class="pushy-link">
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
                <li class="pushy-link">
                    <a href="#">Item 1</a>
                </li>
                <li class="pushy-link">
                    <a href="#">Item 2</a>
                </li>
                <li class="pushy-link">
                    <a href="#">Item 3</a>
                </li>
                <li class="pushy-link">
                    <a href="#">Item 4</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<!-- Site Overlay -->
<div class="site-overlay"></div>
